@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f1f1f1;
}

.checked {
  position: relative;
  text-decoration: line-through;
}

.checked::before {
  position: absolute;
  content: "\2713";
  left: 15px;
}

.close-btn::before {
  content: "\00D7";
}